/* .header{
  position: sticky;
  top: 0px;
} */
.cart-container{
  position: absolute;
  width: 300px;
  min-height: 300px;
  background-color: rgba(180, 178, 178, 0.937);
  border: 1px solid black;
  z-index: 800;
  right: 0px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}
table{
  border-collapse: collapse; 
  width: 90%;
}
tr,th{
  border:1px solid black;
}